%%% -*- mode: erlang -*-

%% Compiler Options ============================================================
{erl_opts,
 [warnings_as_errors,
  debug_info,
  {parse_transform, lager_transform}]}.

%% Dependencies ================================================================
{deps, [
       {lager, "", {git, "git://github.com/basho/lager.git", "master"}}
       ,{hackney, "", {git, "git://github.com/benoitc/hackney.git", {tag, "0.4.2"}}}
       ,{jsx, "", {git, "git://github.com/talentdeficit/jsx.git", {tag, "v1.4.2"}}}
       ,{ex_uri, "", {git, "git://github.com/heroku/ex_uri.git", "24d2592282d7c03543cea837ce6eb45b04935cb3"}}
       ]}.

%% Rebar Plugins ==============================================================
